#menubar{
    border-radius: 10px;
    background-color: crimson;
}
#menubar ul{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 567px;
    
}
#menubar ul li{
    display:inline;
    list-style-type: none;
    padding: 0px 15px;
}
#menubar ul li a{
    color: white;
    text-decoration: none;
}
#menubar ul li a:hover{
    color:black;
}
h2{
    color: crimson;
    text-align: center;
}

#name{
    position : fixed;
	top : 5%; 
	right : 5%;
	width : 100px; 
	padding : 5px;
	color : black;
    font-size : 15px;
}